{% extends 'base.html' %}
{% block title %}
  {% for post in posts %}
    Пост сообщества: {{ post.group.title }}
  {% endfor %}
{% endblock %}
{% block content %}
  <div class="container py-5">
  <article>
  {% for post in posts %}
    <h1>Сообщество: {{ post.group.title }}</h1>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaksbr }}</p>    
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}  
  </article>
  <!-- под последним постом нет линии -->
</div>  
{% endblock %}
